<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-admob-nextgen" 
        version="2.0.3-beta.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>AdMob Next Gen</name>
    <description>Google Mobile Ads Next Gen SDK for Cordova including capacitors</description>
    <author>EMI INDO</author>
    <license>MIT</license>

    <js-module name="AdMobNextGen" src="www/admob-nextgen.js">
        <clobbers target="admobNextGen" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AdMobNextGen">
                <param name="android-package" value="com.emi.cordova.admob.nextgen.AdMobNextGen" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="$APP_ID_ANDROID"/>
        </config-file>
        
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
        </config-file>

        <!-- hooks: Prevent conflicts with legacy SDKs when using mediation -->
        <framework src="src/android/hooks/admob-nextgen.gradle" custom="true" type="gradleReference" />

        <framework src="com.google.android.libraries.ads.mobile.sdk:ads-mobile-sdk:$NEXT_GEN_SDK_VERSION" />
        <framework src="com.google.android.ump:user-messaging-platform:$UMP_VERSION" />

        <!-- Android Next-Gen Classical API -->
        <source-file src="src/android/AdMobNextGen.java" target-dir="app/src/main/java/com/emi/cordova/admob/nextgen" />
        <source-file src="src/android/BannerExecutor.java" target-dir="app/src/main/java/com/emi/cordova/admob/nextgen" />
        <source-file src="src/android/NativeExecutor.java" target-dir="app/src/main/java/com/emi/cordova/admob/nextgen" />
        <source-file src="src/android/AppOpenAdExecutor.java" target-dir="app/src/main/java/com/emi/cordova/admob/nextgen" />
        <source-file src="src/android/InterstitialExecutor.java" target-dir="app/src/main/java/com/emi/cordova/admob/nextgen" />
        <source-file src="src/android/RewardedExecutor.java" target-dir="app/src/main/java/com/emi/cordova/admob/nextgen" />
        <source-file src="src/android/RewardedInterstitialExecutor.java" target-dir="app/src/main/java/com/emi/cordova/admob/nextgen" />
        <source-file src="src/android/ConsentExecutor.java" target-dir="app/src/main/java/com/emi/cordova/admob/nextgen" />
        <source-file src="src/android/GlobalSettingsExecutor.java" target-dir="app/src/main/java/com/emi/cordova/admob/nextgen" />
        <!-- Android Next-Gen New Preloading API -->
        <source-file src="src/android/preloading/AppOpenAdPreloadExecutor.java" target-dir="app/src/main/java/com/emi/cordova/admob/nextgen/preloading" />
        <source-file src="src/android/preloading/BannerPreloadExecutor.java" target-dir="app/src/main/java/com/emi/cordova/admob/nextgen/preloading" />
        <source-file src="src/android/preloading/InterstitialPreloadExecutor.java" target-dir="src/com/emi/cordova/admob/nextgen/preloading" />
        <source-file src="src/android/preloading/RewardedPreloadExecutor.java" target-dir="src/com/emi/cordova/admob/nextgen/preloading" />
        <source-file src="src/android/preloading/RewardedInterstitialPreloadExecutor.java" target-dir="src/com/emi/cordova/admob/nextgen/preloading" />
        
    </platform>

    <preference name="NEXT_GEN_SDK_VERSION" default="1.4.0" />
    <preference name="UMP_VERSION" default="4.0.0" />
    <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
    <preference name="APP_ID_ANDROID" default="ca-app-pub-3940256099942544~3347511713" />

   <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AdMobNextGen">
                <param name="ios-package" value="AdMobNextGen" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="GADApplicationIdentifier">
            <string>$APP_ID_IOS</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSUserTrackingUsageDescription">
            <string>This identifier will be used to deliver personalized ads to you.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="SKAdNetworkItems">
            <array>
                <dict><key>SKAdNetworkIdentifier</key><string>cstr6suwn9.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>4fzdc2evr5.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>2fnua5tdw4.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>ydx93a7ass.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>p78axxw29g.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>v72qych5uu.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>ludvb6z3bs.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>cp8zw746q7.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>3sh42y64q3.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>c6k4g5qg8m.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>s39g8k73mm.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>wg4vff78zm.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>3qy4746246.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>f38h382jlk.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>hs6bdukanm.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>mlmmfzh3r3.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>v4nxqhlyqp.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>wzmmz9fp6w.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>su67r6k2v3.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>yclnxrl5pm.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>t38b2kh725.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>7ug5zh24hu.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>gta9lk7p23.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>vutu7akeur.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>y5ghdn5j9k.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>v9wttpbfk9.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>n38lu8286q.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>47vhws6wlr.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>kbd757ywx3.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>9t245vhmpl.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>a2p9lx4jpn.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>22mmun2rn5.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>44jx6755aq.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>k674qkevps.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>4468km3ulz.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>2u9pt9hc89.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>8s468mfl3y.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>klf5c3l5u5.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>ppxm28t8ap.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>kbmxgpxpgc.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>uw77j35x4d.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>578prtvx9j.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>4dzt52r2t5.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>tl55sbb4fm.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>c3frkrj4fj.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>e5fvkxwrpn.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>8c4e2ghe7u.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>3rd42ekr43.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>97r2b46745.skadnetwork</string></dict>
                <dict><key>SKAdNetworkIdentifier</key><string>3qcr597p9d.skadnetwork</string></dict>
            </array>
        </config-file>

        <framework src="AdSupport.framework" weak="true" />
        <framework src="AppTrackingTransparency.framework" weak="true" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="GoogleUserMessagingPlatform" spec="~> 3.1.0" />
                <pod name="Google-Mobile-Ads-SDK" spec="~> 13.1.0" />
            </pods>
        </podspec>

        <!--IOS SDK API 13+ -->
        <header-file src="src/ios/AdMobNextGen.h" />
        <source-file src="src/ios/AdMobNextGen.m" />
        <header-file src="src/ios/ConsentExecutor.h" />
        <source-file src="src/ios/ConsentExecutor.m" />
        <header-file src="src/ios/GlobalSettingsExecutor.h" />
        <source-file src="src/ios/GlobalSettingsExecutor.m" />
        <header-file src="src/ios/AppOpenAdExecutor.h" />
        <source-file src="src/ios/AppOpenAdExecutor.m" />
        <header-file src="src/ios/BannerExecutor.h" />
        <source-file src="src/ios/BannerExecutor.m" />
        <header-file src="src/ios/InterstitialExecutor.h" />
        <source-file src="src/ios/InterstitialExecutor.m" />
        <header-file src="src/ios/RewardedExecutor.h" />
        <source-file src="src/ios/RewardedExecutor.m" />
        <header-file src="src/ios/RewardedInterstitialExecutor.h" />
        <source-file src="src/ios/RewardedInterstitialExecutor.m" />
    </platform>
    <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~1458002511 -->
    <preference name="APP_ID_IOS" default="ca-app-pub-3940256099942544~1458002511" />

</plugin>